{% extends 'base.html' %}
 {%block content %}

<h1>Places Detail</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ place.name }}</span>
        <p>Location: {{ place.location}}</p>
        <p>Description: {{ place.description }}</p>
        {% if place.yearBuilt > 0 %}
        <p>Year Established: {{ place.yearBuilt }}</p>
        {% else %}
        <p>Year Established: Natural Formation</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'places_update' place.id %}">Edit</a>
        <a href="{% url 'places_delete' place.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' place.id %}" method="POST">
        {% csrf_token %}
        {{review_form.as_p }}
        <input type="submit" class="btn" value="Add Rating">
    </form>
    <br>
    {% if place.review_for_today %}
    <div class="card-panel teal text center-align">{{place.name}} have new reviews today!</div>
    {% else %}
    <div class="card-panel red-text center-align">No new reviews today</div>
    {% endif %}
    <table class="striped">
        <thead>
            <tr><th>Date</th><th>Rating</th></tr>
        </thead>
        <tbody>
            {% for review in place.review_set.all %}
            <tr>
                <td>{{review.date}}</td>
                <td>{{review.get_rating_display}}</td>
                <!-- <td class="material-icons">sentiment_very_satisfied{{review.get_rating_display.choices.0}}</td>
                <td class="material-icons">sentiment_satisfied{{review.get_rating_display.choices.1}}</td>
                <td class="material-icons">sentiment_very_dissatisfied{{review.get_rating_display.choices.2}}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{place.name}}'s Attractions</h3>
      {% if place.attractions.count %}
      {% for attraction in place.attractions.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span> {{attraction.name}}</span>
            <span>{{attraction.description}}</span>
            <!-- <span>{{attraction.get_type_display}}</span> -->
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'unassoc_attraction' place.id attraction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>No Attractions</h5>
      {% endif %}
    </div> 
      <div class="col s6">
        <h3>Available Attractions</h3>
        {% if attractions.count %}
        {% for attraction in attractions.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title"></span>
            <span>{{attraction.name}}</span>
            <span>{{attraction.description}}</span>
            <!-- <span>{{attraction.get_type_display}}</span> -->
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_attraction' place.id attraction.id %}" method="POST">
              {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{place.name}} Already has All Attractions Available </h5>
        {% endif %}
      </div>
    </div>
</div>


<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}